*{margin:0; padding:0;
    transition-duration: 0.8s;
  }
  #lecture_css{
    margin-top: 75px;
    padding-left: 185px;
    padding-bottom: 50px;
}
#contactForm_form{
    padding-left: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
   }
   input {
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
  textarea {
    width: 500px;
    height: 150px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
  #setcontext{
   text-align: center;
  }
  #send_flex1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  #send_flex3{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
  }
  #contact_submit{
    padding-left: 0;
  
    width: 80px;
  }
  #contact_h3{
    padding-left: 25px;
    padding-top: 150px;
  }
  #btn_css{
  margin-left: 450px;
  }
  #messegBox{
    padding-right: 200px;
  }
  #clickToHome{
    margin-left: 500px;
    margin-top: 50px;
  }
  .button--moema {
    padding: 1.5em 3em;
    border-radius: 50px;
    background: #7986cb;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .button--moema.button--inverted {
    background: #ECEFF1;
    color: #37474f;
  }
  .button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ECEFF1;
    background-color: #1d1f2b;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
  }
  .button--moema.button--inverted:hover {
    color: #ECEFF1;
    background-color: #7986cb;
  }
  .button--moema:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
  }
  @-webkit-keyframes anim-moema-1 {
    60% {
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
    }
    85% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes anim-moema-1 {
    60% {
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
    }
    85% {
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes anim-moema-2 {
    to {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes anim-moema-2 {
    to {
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }